.gap{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
#list {
    width: 470px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {

    list-style: decimal;
    margin: 10px 0px;
}

.prev_next {
    font-size: 15px;
}

.prev_next a {
    cursor: pointer;
}
.even{
    background-color: lightcyan;
    height: 100%;
}
.odd{
    background-color: lightyellow;
    height: 100%;
}
.class_height{
    height: 100%;
}